<header class="header">
  <div class="container header__container">
    <a href="/" class="logo">Лид Конвейер</a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#pricing" class="nav__link">Тарифы</a></li>
        <li class="nav__item"><a href="#reviews" class="nav__link">Отзывы</a></li>
        <li class="nav__item"><a href="#faq" class="nav__link">FAQ</a></li>
      </ul>
    </nav>
    <a href="#cta" class="btn btn--primary header__btn">Получить лиды</a>
  </div>
</header>